

.header {
    background-color: var(--primaryNav);
}
.header_items {
    width: 100%;
    max-width: 90%;
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header_logo {
    display: flex;
    align-items: center;
}
.header_logo img {
    width: 66px;
    height: 30px;
}
.fa-xmark {
    display: none;
}
.header_menu ul {
    display: flex;
    column-gap: 50px;
}
.header_menu li {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    
    column-gap: 12px;
}
.header_menu li h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsla(0,0%,100%,.8);

    transition: all ease-in-out 0.2s;
}
.header_menu li:hover h1 {
    color: var(--White);  
}
.fa-angle-down {
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.header_menu li:hover i {
    color: var(--White);
    cursor: pointer;
}
.header_user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    column-gap: 10px;
}
.header_user button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;

    transition: all ease-in-out 0.2s;
}
.create_user {
    color: var(--White);
    background-color: transparent;
    border: 1px solid var(--White);
}
.login_user {
    border: none;
    outline: none;
}
.create_user:hover {
    color: var(--primaryNav);
    background-color: var(--White);
    
}
.login_user:hover {
    color: var(--White);
    background-color: var(--orangeButton);
}
