

.main { 
    background-image: radial-gradient(63.65% 201.15% at -1.28% 64.2%, rgba(70, 48, 30, 0.85) 0%, rgba(77, 78, 80, 0) 100%), url(https://static.playoverwatch.com/img/pages/buy/buy-bar-bg-3c956a1db2.jpg);
    background-position: center 1%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 643px;

    overflow: hidden;
}
.nav-mobile {
    display: none;
}
.main_items {
    width: 100%;
    max-width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.logo_text {
    margin-top: 113px;
}
.logo_text img {
    width: 100%;
}
.button_buy {
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;

    margin-top: 51px;
    padding: 16px 58px;

    font-family: 'Poppins', sans-serif;
    color: var(--White);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    background-color: var(--orangeButton);
}
.icons_trailer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 150px;
    column-gap: 40px;
}
.label_icons div img{
   cursor: pointer;
}
.video_trailer {
    width: 360px;
    height: auto;
    border-radius: 4px;
}


