

@media (max-width: 1340px) {
    .full_nav {
        margin-top: 0;
    }
    .nav_items {
        max-width: 100%;
    }
    .nav_logo, .nav_buy {
        border-radius: 0;
    }

    .main_items {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .icons_trailer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .trailer {
        display: none;
    }
}


@media (max-width: 970px) {
    .button_buy {
        padding: 10px 30px;
        transition: all ease-in-out 0.2s;
    }

    .section_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        row-gap: 24px;
    }
    .description_world_cup {
        flex-direction: column;
        align-items: center;
    }

    .page_title h1 {
        font-size: 32px;
    }
    .page_title p {
        font-weight: 400;
        font-size: 14px;
    }
    
    .flex {
        padding: 12px 25px;
    }
    .flex h1 {
        font-weight: 600;
        font-size: 18px;
    }

    .heroe_name_description_selected {
        display: none;
    }
    .icon_heroes {
        padding-top: 60px;
    }
}


@media (max-width: 560px) {
    .description_world_cup {
        width: 100%;
    }
    .description_world_cup h1 {
        font-size: 24px;
    }
    .description_world_cup p {
        font-size: 13px;
    }
    
    .page_title h1 {
        font-size: 24px;
    }
    .page_title p {
        font-weight: 400;
        font-size: 13px;
    }
    
    .flex {
        padding: 10px 23px;
    }
    .flex h1 {
        font-weight: 600;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .description_world_cup h1 {
        font-size: 18px;
    }

    .page_title h1 {
        font-size: 20.3px;
        padding-bottom: 10px;
    }

    .flex h1 {
        display: none;
    }
}