

.section_items {
    width: 100%;
    max-width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}


.heroe_infos {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 0;
    right: 0;
    
    column-gap: 220px;
}
.heroe_desc {
    margin-top: 93px;
}
.name_desc {
    width: 216px;
    height: 115px;

    margin-bottom: 32px;
}
.name_desc h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--blueTextName);
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
.name_desc h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--blueTextInfo);
    font-weight: 600;
    font-size: 32px;
    font-style: italic;
    text-transform: uppercase;
}
.heroe_desc_bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;

    width: 265px;
    height: 125px;
    column-gap: 8px;
    margin-bottom: 32px;
}
.heroe_desc_bar span {
    height: 125px;
    border-right: 3px solid var(--blueTextName);
}
.heroe_desc_bar p {
    font-family: 'Poppins', sans-serif;
    color: var(--boxLogoNav);
    font-weight: 400;
    font-size: 14px;
}
.learn_more {
    border-radius: 4px;
    
    font-family: 'Poppins', sans-serif;
    color: var(--White);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 13px 52px;

    border: none;
    outline: none;
    cursor: pointer;
}
.learn_more.blue {
    background-color: var(--blueButton);
}
#symmetra {
    position: absolute;
    top: 60px;
    right: 19px;
}


.overwatch_two {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 0;
    right: 0;

    column-gap: 40px;
}
.overwatch_desc {
    margin-left: 57px;
    margin-top: 93px;
}
.overwatch_desc h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--boxLogoNav);
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
#overwatch2_logo {
    margin-top: 16px;
    margin-bottom: 32px;
}
.learn_more.orange {
    background-color: var(--orangeButton);
}
#tracer {
    position: absolute;
    top: 60px;
    right: 19px;
}