

.section {
    background-color: var(--secondaryNav);
}
.section_items {
    padding: 72px 10px;

    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    column-gap: 24px;
}
.world_cup img{
   width: 100%;
}
.description_world_cup {
    width: 520px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    row-gap: 20px;
    padding: 0 10px;
}
.description_world_cup h1 {
    font-family: 'Poppins', sans-serif;
    color: #FF9C00;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}
.description_world_cup p {
    font-family: 'Poppins', sans-serif;
    color: var(--primaryNav);
    font-weight: 400;
    font-size: 14px;

    text-align: justify;
}
.description_world_cup button {
    padding: 6px 16px;
    background-color: #FF9C00;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.description_world_cup button:hover {
    background-color: #FFB033;
}
.description_world_cup button a {
    font-family: 'Poppins', sans-serif;
    color: var(--White);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;

    text-decoration: none;
}